.grid-wrapper{
    display: grid;
    gap: 20px 20px;
    grid-template-columns: repeat(4, minmax(250px, auto));
    grid-template-rows: repeat(3, minmax(250px, auto));

}

.grid-item{
    padding: 10px, 20px;
}

.grid-item:nth-child(1){
    grid-column: 2/4;
}

.grid-item:nth-child(2){
    grid-column: 2/4;
}

.grid-item:nth-child(3){
    grid-row: 1/3; 
}

.grid-item:nth-child(4){
    grid-column: 4/5;
    grid-row: 1/2;  
}

.grid-item:nth-child(5){
    grid-column: 2/4;  
}

.grid-item:nth-child(6){
    grid-column: 4/5;
    grid-row: 2/3;   
}

.grid-item:nth-child(7){
    grid-column: 4/5;   
}

.grid-item:nth-child(8){   
    grid-row: 2/3;  
}
#mailingListSignup {
    text-align: center;
}

#mailingListInputBox {
    margin-right: 40px;
}

#emailContact {
    padding: 5px;
    text-align: center;
    border: 2px;
    border-color: antiquewhite;
    border-style: dotted;
    background-color: black;
    opacity: 0.75;
    writing-mode: horizontal-tb;
    transform: scaleY(1.1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    text-align: center;
    color: antiquewhite;
    font-weight:bolder;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 2px;
    font-style:italic;
    font-size:larger;   
}

p q {
    font-style: italic;
}

#emailBox {
    background-color: gray;
}

img {
    display:block;
    margin-left: auto;
    margin-right: auto;

    max-width: 100%;
    height: auto;
    width: auto\9;

}

.navBar {
    text-align: center;
    margin: 0,;
    padding: 0;   
}

.navbar li {
    display: inline-block;
}

li {
    list-style-type: none;
}

.nav-container{
    display: flex;
    padding: 10px, 35px;
    justify-content: center;
}

.nav-container li a {
    font-size: larger;
}

.top-nav{
    text-align: center;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    background-color: #111111;
}
li a:hover {
    background-color: grey;
}

h2 {
    text-align: center;
    color: antiquewhite;
    font-weight:bolder;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 2px;
    font-style:italic;
    font-size:larger;   
}

p {
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:larger;
}

h1 {
    color: white;
}


@media (max-width: 600px) {
    .grid-wrapper {
        display: flex;
        flex-direction: column;
        }
 
}

@media (max-width: 600px) {
    .nav-container{
        flex-direction: column;
    }

}
